<br>
<br>

<div class="conatainer text-center">
  <h1 class="" style="font-size:56px; font-weight:900;">Featured Destination</h1>
</div>
<br>
<br>
<div class="container">
<!-- Button trigger modal -->
<div class="row">
  <div class="col-xl-6 col-sm-4">

        <img src="assets/images/ticket/mumbai.jpg" alt="..." class="rounded d-block w-30 ticket " data-toggle="modal" data-target="#exampleModal1" >
        <div class="ticket-content">
            <h3 class="">Holy District | Mumbai </h3>
            <span class=""> <strong>Location :</strong> NESCO GROUNDS, Mumbai
              <h5 class=""><span>March 21, 2019</span> </h5></span> 
     
        </div>
        
      
  
      <!-- Modal -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Holy District| Mumbai</h5>
              <span> <strong>Location :</strong> NESCO GROUNDS, Mumbai <br>
                <h3 class="date"><span>March 21, 2019</span> </h3></span>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Mumbai's most awaited Holi festival, Holy District is back in its 3rd edition with more colour, 
                energy and entertainment! This year, the event features the best artists perform the hottest 
                commercial and Bollywood electronic tracks at NESCO GROUNDS, Mumbai on March 21, 2019. Come, 
                be a part of an experience like never before !
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a href="https://ticketninja.in/event/holy-district-2019/1274"><button type="button" class="btn btn-primary">Buy Tickets</button></a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-xl-6 col-sm-4">
<!-- Button trigger modal -->
<img src="assets/images/ticket/chennai.jpg" alt="..." class="rounded d-block  ticket" data-toggle="modal" data-target="#exampleModal2" >
<div class="ticket-content">
    <h3 class="">Holy District | Chennai </h3>
    <span class=""> <strong>Location :</strong> THE PARK, Chennai
      <h5 class=""><span>March 21, 2019</span> </h5></span> 

</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Holy District | <br>Chennai</h5><hr>
          <span class="float-right"> <strong>Location :</strong> THE PARK, Chennai <br>
            <h3 class="date"><span>March 21, 2019</span> </h3></span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Chennai's most awaited Holi festival, Holy District is back in its 2nd edition with more colour, 
            energy and entertainment! This year, the event features the best artists perform the hottest 
            commercial and Bollywood electronic tracks at THE PARK, Chennai on March 21, 2019. Come, 
            be a part of an experience like never before !
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Buy Tickets</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>





</div>
<br>
<br><br>
