<div class="container">
        <div class="conatainer text-center">
                <br>   <br>
                <br>
                <br>
                    <h1 style="font-size:56px; font-weight:900;" class="">Follow US</h1>
                  </div>
            <div class="conatianer">
                <div class="row">
                    <div class="col-xl-6 col-sm-4">
                        <img src="assets/images/instagram/insta1.jpg"  class="d-block instaimage" alt="">
                  
                    </div>
                    <div class="col-xl-6 col-sm-4">
                        <img src="assets/images/instagram/insta2.jpg"  class="d-block instaimage " alt="">
                  
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-xl-6 col-sm-4">
                  <img src="assets/images/instagram/insta3.jpg"  class="d-block instaimage " alt="">
                    
                      </div>
                      <div class="col-xl-6 col-sm-4">
                  <img src="assets/images/instagram/insta4.jpg"  class="d-block instaimage " alt="">
                        
                      </div>
                    </div>
                  
            </div>

            <div class="row">
                <div class="col-xl-6 col-sm-2 column">
<a href="https://www.facebook.com/holydistrict/"><img src="assets/images/instagram/facebook.png"  class="d-block float-right instaimage " alt="" style="width:40%;"></a>
</div>

<div class="col-xl-6 col-sm-2 column">
        <a href="https://www.instagram.com/holydistrict/?hl=en">
<img src="assets/images/instagram/instagram.png"  class="d-block  instaimage " alt="" style="width:40%;"></a>
</div>
</div>

</div>

