/* You can add global styles to this file, and also import other style files */
.bg-img-1
{
    background-image: url('./assets/images/background/holybackk2.png');
    background-size: 100%;
    background-repeat: repeat;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;   
    flex-wrap: wrap; 
    
  
}